<h1>Profile</h1>
<div id="profile-container">
	<div class="col">
		<h3>Your Links</h3>
		<% @user_links.each do |link| %>
			<a class="prof-title" href="<%= link.url %>"><%= link.title %></a><br/>
		<% end %>
	</div>

	<div class="col">
		<h3>Your Tags</h3>
		<% @user_tags.each do |tag| %>
			<a class="prof-title" href="/tags/<%= tag.text %>"><%= tag.text.capitalize %></a><br/>
		<% end %>
	</div>

	<div class="col">
		<h3>Favourite Links</h3>
		<% @user_favs.each do |fav| %>
			<a class="prof-title" href="<%= fav.url %>"><%= fav.title %></a><br/>
		<% end %>
	</div>
</div>