<li class="link">
	<% if current_user %>
	<form action="/favourite" method="post">
		<button class="favourite" name="link_id" value="<%= link.id %>">
			Favourite <%= link.title %>
		</button>
	</form>
	<% end %>
	<a class="title" href="<%= link.url %>"><%= link.title %></a>
	<div class="description">
		Lorum ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>
	<div class="link-tags-div">
		<% link.tags.each do |tag| %>
			<a class="link-tags" href="/tags/<%= tag.text %>"><%= tag.text.capitalize %></a>
		<% end %>
	</div>

	<span class="source">
		<% if link.users.count > 0 %>
		<img class="fav-ico" src="/images/heart.ico"><%= link.users.count %>
		<% end %>
		added yesterday by <a class="user" href="#">
		<% if User.get(link.user_id) %>
			<%= User.get(link.user_id).username %>
		<% else %>
			<%= "Anonymous" %>
		<% end %>
		</a>
	</span>
</li>